{
	admin off
	auto_https off
	debug on
}

:80 {
	@api path /api*
	uri @api strip_prefix /api
	reverse_proxy @api {
		to 127.0.0.1:8080
	}

	root * ./dist
	encode gzip

	try_files {path} /
	file_server
}
